<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
<h3 class="m-3" style="margin-left: 20px"> <span th:text="${city.name}"></span> city</h3>

<form class="m-2" style="margin-left: 20px" th:method="get">
  <div class="form-group m-2">
    Name: <span th:text="*{city.name}"></span>
  </div>
  <div class="form-group m-2">
    Country: <span th:text="*{city.country.name}"></span>
  </div>
  <div class="form-group m-2">
    Area: <span th:text="*{city.area}"></span>
  </div>
  <div class="form-group m-2">
    Population: <span th:text="*{city.population}"></span>
  </div>
  <div class="form-group m-2">
    GDP: <span th:text="*{city.GDP}"></span>
  </div>
  <div class="form-group m-2">
    Description: <span th:text="*{city.description}"></span>
  </div>

  <div class="form-group m-2" style="margin-top: 20px">
    <a th:href="@{../edit/__${city.id}__}" class="btn btn-success active" role="button" aria-pressed="true">Edit</a>
    <a th:href="@{../list}" class="btn btn-secondary active" role="button" aria-pressed="true">Back</a>
  </div>
</form>
</body>
</html>