<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>product card image tiles - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container pb-5 mb-sm-1">
    <!-- Categories grid-->
    <div class="row">
        <!-- Category-->
        <div class="col-md-4 col-sm-6">
            <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="shop-style1-ls.html">
                    <div class="main-img"><img src="https://via.placeholder.com/340x326/FF8C00/000000" alt="Clothing"></div>
                    <div class="thumblist"><img src="https://via.placeholder.com/175x164/FF8C00/000000" alt="Clothing"><img src="https://via.placeholder.com/175x164/FF8C00/000000" alt="Clothing"></div>
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                    <h2 class="h5 mb-1">Clothing</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$49.99</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop clothing</a>
                </div>
            </div>
        </div>
        <!-- Category-->
        <div class="col-md-4 col-sm-6">
            <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="shop-style1-ls.html">
                    <div class="main-img"><img src="https://via.placeholder.com/340x326/8A2BE2/000000" alt="Shoes"></div>
                    <div class="thumblist"><img src="https://via.placeholder.com/175x164/8A2BE2/000000" alt="Shoes"><img src="https://via.placeholder.com/175x164/8A2BE2/000000" alt="Shoes"></div>
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                    <h2 class="h5 mb-1">Shoes</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$56.00</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop shoes</a>
                </div>
            </div>
        </div>
        <!-- Category-->
        <div class="col-md-4 col-sm-6">
            <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="shop-style1-ls.html">
                    <div class="main-img"><img src="https://via.placeholder.com/340x326/6495ED/000000" alt="Bags"></div>
                    <div class="thumblist"><img src="https://via.placeholder.com/175x164/6495ED/000000" alt="Bags"><img src="https://via.placeholder.com/175x164/6495ED/000000" alt="Bags"></div>
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                    <h2 class="h5 mb-1">Bags</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$27.00</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop bags</a>
                </div>
            </div>
        </div>
        <!-- Category-->
        <div class="col-md-4 col-sm-6">
            <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="shop-style1-ls.html">
                    <div class="main-img"><img src="https://via.placeholder.com/340x326/FF7F50/000000" alt="Sunglasses"></div>
                    <div class="thumblist"><img src="https://via.placeholder.com/175x164/FF7F50/000000" alt="Sunglasses"><img src="https://via.placeholder.com/175x164/FF7F50/000000" alt="Sunglasses"></div>
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                    <h2 class="h5 mb-1">Sunglasses</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$35.99</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop sunglasses</a>
                </div>
            </div>
        </div>
        <!-- Category-->
        <div class="col-md-4 col-sm-6">
            <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="shop-style1-ls.html">
                    <div class="main-img"><img src="https://via.placeholder.com/340x326/008B8B/000000" alt="Hats"></div>
                    <div class="thumblist"><img src="https://via.placeholder.com/175x164/008B8B/000000" alt="Hats"><img src="https://via.placeholder.com/175x164/008B8B/000000" alt="Hats"></div>
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                    <h2 class="h5 mb-1">Hats</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$14.50</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop hats</a>
                </div>
            </div>
        </div>
        <!-- Category-->
        <div class="col-md-4 col-sm-6">
            <div class="card border-0 mb-grid-gutter">
                <a class="card-img-tiles" href="shop-style1-ls.html">
                    <div class="main-img"><img src="https://via.placeholder.com/340x326/9932CC/000000" alt="Gloves"></div>
                    <div class="thumblist"><img src="https://via.placeholder.com/175x164/9932CC/000000" alt="Gloves"><img src="https://via.placeholder.com/175x164/9932CC/000000" alt="Gloves"></div>
                </a>
                <div class="card-body border mt-n1 py-4 text-center">
                    <h2 class="h5 mb-1">Gloves</h2><span class="d-block mb-3 font-size-xs text-muted">Starting from <span class="font-weight-semibold">$10.45</span></span><a class="btn btn-pill btn-outline-primary btn-sm" href="shop-style1-ls.html">Shop accessories</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style type="text/css">
body{
    background:#f5f5f5;
    margin-top:20px;}

.card-img-tiles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #fff;
    z-index: 5
}

.card-img-tiles .main-img>img,
.card-img-tiles .thumblist>img {
    display: block;
    width: 100%
}

.card-img-tiles .main-img {
    width: 67%;
    padding-right: .375rem
}

.card-img-tiles .thumblist {
    width: 33%;
    padding-left: .375rem
}

.card-img-tiles .thumblist>img {
    margin-bottom: .75rem
}

.card-img-tiles .thumblist>img:last-child {
    margin-bottom: 0
}

.mb-grid-gutter {
    margin-bottom: 30px !important;
}
</style>

<script type="text/javascript">

</script>
</body>
</html>